

/* CSS переменные, применяем кл всем доку */


/* фон хедера background:#FFFFFF */
/* фон основной #E5E5E5 */
/* фона доп #F5F4FA */
/* фон футера #2F303A */
/* цвет основного текста #212121 */
/* цвет дополнительного текста #757575*/
/* цвет текста белый #FFFFFF */
/* цвет акцента текста #2196F3 и заливка кнопок */
/*  Developed by color: rgba(255, 255, 255, 0.4); */

/* logo */
.logo {
  color: var(--primary-text-color);
}
.web {
  color: #2196f3;
}

/* site-nav */

.site-nav .link {
  color: var(--primary-text-color);
  font-size: 14px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}



/* auth-nav */

.auth-nav .link {
  color: var(--secondary-text-color);
}

.auth-nav .link:hover,
.sauth-nav .link:focus {
  color: var(--accent-color);

}

/* hero*/
.hero {
  text-align: center;
  outline: 2px solid mediumaquamarine;
  
}


.hero-title {
  color: white;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: tomato;

  margin-top: 0px;
  margin-bottom: 0px;
}
/* Section & h2 */

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 50px;
  
}

/* Features */
.features-img {
  margin-bottom: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
  
}
.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0px;
  margin-bottom: 0;

}
/* button */


/* ЧЕМ МЫ ЗАНИМАЕМСЯ */


.section .workline {
  background-color: rgba(47, 48, 58, 0.8);;
  color: white;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

/* наша команда */
.ourteam {
  background-color: #f5f4fa;
}
.name {
  color: var(--primary-text-color);
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.position {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

